// .bg-pd50{
//     position: fixed;
//     top: 0;
//     left: 0;
//     background: #000;
//     opacity: 0.8;
//     z-index: 998;
//     height: 100%;
//     width: 100%;}
.disabled {
    cursor: not-allowed;
    background: #dddddd8f !important;
    z-index: 1000 !important;
    height: 1500px;
    min-height: 100%;
    position: absolute;
    top: 0px;
    width: 90%;
  }
table th{
  background: #dddddd8f !important;
}