<div class="container-fluid bg-pd50"  >
    <div   [class.disabled]="showLoader ">        
    </div>
    <div class="container" >
        <div class="col-md-12">
            <div class="card card-pdmg">
                <div class="card-body">
                    <div class="row" >
                        <img src="assets/img/logo.png" alt="" class="img-fluid loader" *ngIf="showLoader">
                        <div class="col-md-12" *ngIf="!isFeedBackSubmitted">
                            <form (ngSubmit)="onSubmit()" ngNativeValidate>
                                <h4>FeedBack Form</h4>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="officialName" class=" col-form-label">FeedBack Type:</label>
                                        <select name="Vendor" id="Vendor" class="form-control here"
                                        [(ngModel)]="feedBackDetails.Vendor">
                                        <option value="employer" selected>Employer</option>
                                        <option value="customer">Customer</option>
                                        <option value="candidate">Candidate</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="customerName" class=" col-form-label">Name:</label>
                                        <input id="customerName" name="customerName"
                                            placeholder="Please enter your name*" class="form-control here" type="text"
                                            [(ngModel)]="feedBackDetails.CustomerName">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="officialName" class=" col-form-label">Official Name:</label>
                                        <input id="officialName" name="officialName"
                                            placeholder="Please enter official name*" class="form-control here"
                                            type="text" [(ngModel)]="feedBackDetails.OfficialName">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="customerName" class="col-form-label">Date:</label>
                                        <input id="date" name="date"
                                            placeholder="Please enter your date*" class="form-control here" type="date"
                                            [(ngModel)]="feedBackDetails.date">
                                    </div>
                                </div>
                                <!-- <hr width="100%"> -->
                                <div class=" my-2">
                                    <table class="table table-responsive table-striped table-hover">
                                        <tr>
                                            <th>Q.no</th>
                                            <th>Question</th>
                                            <th>Max Points</th>
                                            <th>Points Given</th>
                                            <th>Remarks(If Any)</th>
                                        </tr>
                                        <tr *ngFor="let question of feedBackDetails.FeedBackProvided;let i=index">
                                            <td>{{i+1}}</td>
                                            <td>
                                                {{question.Question}}
                                            </td>
                                            <td>
                                                {{question.MaxPoints}}
                                            </td>
                                            <td>
                                                <input placeholder="enter your points*" maxlength="3"
                                                    class="form-control here" type="text" name="points"
                                                    [(ngModel)]="question.PointsGiven">
                                            </td>
                                            <td>
                                                <input placeholder="Provide any additional remarks(if any)"
                                                    class="form-control here" type="text" name="points"
                                                    [(ngModel)]="question.FeedBackRemarks">
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- <div class="row form-group  "  >
                                        <div class="col-lg-7 col-md-2 " data-aos="fade-up">
                                            <b> </b><br>
                                        </div>
                                        <div class="col-lg-5 col-md-2 text-center d-flex" data-aos="fade-up">
                                             <span class="col-md-6 mb-0">Points Given:  <b> {{question.PointsGiven}}</b> -->
                                    <!-- <span>   </span></span>
                                        </div>
                                    </div> -->
                                </div>
                                <button type="submit" class="btn-style">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-12" *ngIf="isFeedBackSubmitted">
                            <h4>Your FeedBack has been submitted</h4>
                        </div>
                        <div class="col-md-12" *ngIf="isApplicationError">
                            <h4 class="text-danger">Error while processing your request, please try again after some
                                time!!!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>