<div class="container-fluid bg-pd50">
    <div class="container">
        <div class="col-md-12">
            <div class="card card-pdmg">
                <div class="card-body">
                    <div class="row">
                        <h1>About Us</h1>
                        <div>The promoter of Phoenix Recruitments have been in the business of recruitment and
                            associated services since 2001, under the name and style of Prince Enterprises. Due to
                            difference of opinion between the Promoters, Prince Enterprises was closed in 2018, and Mr.
                            Haleem P. decided to float Synergy Associates in 2020, with a team of highly experienced
                            professionals in operations and marketing. The team brings with it more than 18 years of
                            experience in the industry.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>