<section id="why-us" class="why-us">
    <div class=" img-fluid heading-title"
        style="background-image: url('assets/img/banner.jpg');background-position: center;">
        <div class="container">
            <div class="col">
                <h5 class="text-right aign-self-center py-5 mb-0 fw-600 ">
                    <a routerLink="/home">Synergy Solutions </a>
                    <span style="color: #ddd"> - Our Selling Proposition</span>
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- ======= About Us Section ======= -->
<section id="about" class="about mb-3">
    <div class="container p-5 " style="background: #e9d8d8;">
        <h4 class="titlehd ">OUR USP</h4>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="box-style col">
                <div class=" ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">We correctly understand your requirements
                    </p>
                    <small class="text-logo">(few do, even though it may seem so simple)</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="box-style col">
                <div class=" ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Totally objective shortlisting process
                    </p>
                    <small class="text-logo">Each of your requirement is assessed against customized parameters based upon your
                        requirement(if                         one is available) or industry standard</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="box-style col">
                <div class=" ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Customer centric approch
                    </p>
                    <small class="text-logo">We are ISO-9001 Certified</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="box-style col">
                <div class="ok-style ">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Background verification of candidates, if required </p>
                    <small class="text-logo">(outsourced to third parties)</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="box-style col">
                <div class="ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Project Status Reporting </p>
                    <small class="text-logo">So you are sure the recruitment plan aligns with your project timelines</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="box-style col">
                <div class="ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Replacement of candidates selected by us </p>
                    <small class="text-logo">If found lacking the required skills, within probation period</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row my-3">
            <div class="col-2">
            </div>
            <div class="box-style col">
                <div class=" ok-style">
                </div>
                <div class="">
                    <p class="text-logo mb-0">Ethics and commitments </p>
                    <small class="text-logo">Our commitments always take precedence over commerical interests.</small>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


</section><!-- End About Us Section -->