<div class="container-fluid bg-pd50">
    <div class="container">
        <div class="col-md-12">
            <div class="card card-pdmg">
                <div class="card-body">
                    <div class="row">
                        <h1 class="row">unique-selling-proposition</h1><br>
                        <div class="row">unique-selling-proposition works!</div>
                        <div>unique-selling-proposition works!</div>
                        <div>unique-selling-proposition works!</div>
                        <div>unique-selling-proposition works!</div>
                        <div>unique-selling-proposition works!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>