
<section id="why-us" class="why-us ">
    <div class=" img-fluid heading-title"
      style="background-image: url('assets/img/banner.jpg');background-position: center;">
      <div class="container">
        <div class="col">
          <h5 class="text-right aign-self-center py-5 mb-0 ">
            <a routerLink="/home" >Synergy Solutions </a>
            <span style="color: #ddd"> - Our Services</span>
          </h5>
        </div>
      </div>
    </div>
  </section>
<!-- ======= About Us Section ======= -->
<section id="about" class="about pt-5 pb-0 ">
  <div class="container">

    <div class="row no-gutters">

      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

        <div class="section-title">
          <h2>Our Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>
          <!-- <li class="title">Overseas Recruitment</li>
          <li class="title">Domestic Recruitment</li> -->
          <button type="button" class="btn btn-outline-primary"  (click)="scroll(DocumentsAttestation)" >Documents Attestation</button>
          <button type="button" class="btn btn-outline-primary mt-2"  (click)="scroll(Hajjassistance)" > Umrah and Hajj assistance</button>
          <button type="button" class="btn btn-outline-primary  mt-2" (click)="scroll(AirTicketing)" >Air Ticketing</button>
          <button type="button" class="btn btn-outline-primary mt-2"  (click)="scroll(HigherEducation)" >Higher Education in Europe/USA/Canada</button>
      </div>

      <div class="col-lg-6 align-self-center p-5">
        <img src="assets/img/services.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->

<section id="services" class="services">
  <div class="container">
    <!-- <div class="row icon-shadow mb-4 " routerLink="\overseas">
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Overseas Recruitment
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row icon-shadow mb-4 " routerLink="\recruitment">
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Domestic Recruitment
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div> -->
    <div class="row icon-shadow mb-4" #DocumentsAttestation>
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Documents Attestation
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row icon-shadow mb-4" #Hajjassistance>
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Umrah and Hajj assistance
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row icon-shadow mb-4 " #AirTicketing>
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Air Ticketing
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row icon-shadow mb-4 " #HigherEducation>
      <div class="col-lg-3 col-md-12 align-self-center " data-aos="fade-up" data-aos-delay="20">
        <div class="icon-box mb-0 ">
          <div class="icon">
            <i class="fa fa-linkedin"></i>
          </div>
          <h4 class="title">
            Higher Education in Europe/USA/Canada
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 " data-aos="fade-up" data-aos-delay="20">
        <div class="">
          <p class="description mb-0">Whether it’s buildings, infrastructure, importing, Exporting or
            funding, we deliver a wide variety
            of projects offering services in construction project management including engineering,
            cost
            management, consultation, contracting. We do it all with integrity and transparency,
            never
            compromising our ethics. We are passionate about innovation and state-of-the-art
            technologies,
            but above all we know how to adapt, always finding the best strategy to successfully
            deliver
            our best.
          </p>
        </div>
      </div>
      <div class="col-lg-3  col-md-12 align-self-center" data-aos="fade-up">
        <img src="assets/img/why-us-1.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<a class="btn-danger btn-circle" *ngIf="isShow" (click)="gotoTop()"><i class="fa fa-arrow-up"></i> Top</a>