<app-header></app-header>
  <router-outlet></router-outlet>
<div class="py-4 d-flex mob-flex justify-content-center" style="background: #e9d8d8;">
  <div class="fs-14 p-2">
    <a routerLink="/home">About</a>
  </div>
  <div class="fs-14 p-2">
    <a routerLink="/service">Service</a>
  </div>
  <div class="fs-14 p-2">
    <a routerLink="/ethics">Business Ethics</a>
  </div>
  <div class="fs-14 p-2">
    <a routerLink="/mission-vision">Mission and Vision</a>
  </div>
  <div class="fs-14 p-2">
    <a routerLink="/clients">Esteemed Clients</a>
  </div>
  <div class="fs-14 p-2">
    <a routerLink="/home">Advertise</a>
  </div>
  <div class="fs-14 p-2">
    <a href="/corp/Terms.htm">Terms of use</a>
  </div>
  <div class="fs-14 p-2">
    <a href="https://privacy.zillowgroup.com">Privacy Portal</a>
  </div>
</div>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong>
        <span>Shahid</span>
      </strong>. All Rights Reserved
    </div>
  </div>
</footer>