<div class="container-fluid bg-pd50">
    <div class="container mt-5 pt-3">
        <div class="card card-pdmg ">
            <div class="card-body">
                <h4 class="text-success mb-3">Track-status!!!!</h4>
                <div class="row">
                    <div class="col-md-12 form-group d-flex">
                        <input type="text" class="form-control " placeholder="Passport No*" required
                            [(ngModel)]="searchByPassport">
                        <!-- <button class="btn btn-success ml-2" (click)="checkStatusbyPassPort()">Check</button> -->
                        <!-- <button class="btn btn-success" (click)="checkStatusbyPassPort()">Check Status by PassPort
                            No</button> -->
                    </div>
                    <div class="col-md-12 form-group d-flex"> <input type="text" placeholder="Aadhar No*"
                            class="form-control" required [(ngModel)]="searchByAadhar">
                        <!-- <button class="btn btn-success ml-2" (click)="checkStatusbyAadhar()">Check</button> -->
                        <!-- <button class="btn btn-success" (click)="checkStatusbyAadhar()">Check Status by Aadhar
                                No</button> -->
                    </div>
                    <div class="col-md-12 form-group d-flex">
                        <input type="text" class="form-control" placeholder="Application No*" required
                            [(ngModel)]="searchByApplication" type="number">
                        <!-- <button class="btn btn-success" (click)="checkStatusbyApplicationNo()">Check Status by
                            Application No</button> -->
                        <!-- <button class="btn btn-success ml-2" (click)="checkStatusbyPassPort()">Check</button> -->
                    </div>
                </div>
                <button class="btn btn-success"
                    [disabled]="searchByApplication.length<=0 && searchByAadhar.length<=0 && searchByPassport.length<=0"
                    (click)="checkStatus()">SEARCH</button>
                <br> <br> <br>
                <div class="row" *ngIf="isAdmin && completeStatus.ID != 0">
                    <br>
                    <div class="col-md-4 form-group">
                        <label for="presentStatus">Present Status:</label>
                        <select disabled="true" id="presentStatus" class="form-control" name="presentStatus"
                            [(ngModel)]="presentStatusID">
                            <option [value]="presentStatusID">{{presentStatusDescription}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="nextStatus">Next Status:</label>
                        <select id="nextStatus" class="form-control" name="nextStatus" [(ngModel)]="nextStatusID">
                            <option value="0">--Next Status--</option>
                            <option *ngFor="let stat of statusMasterData" [value]="stat.ID">{{stat.Description}}
                            </option>
                        </select>
                    </div>
                    <!-- <div class="col-md-4 form-group">
                        <label for="nextStatusDate">Next Status Tentative Date:</label>
                        <input type="date" id="nextStatusDate" class="form-control" name="nextStatusDate"
                            [(ngModel)]="nextStatusDate" placeholder="next status date" [min]="currentDate"
                            title="next status date">
                    </div> -->
                </div>
                <div class="row" *ngIf="isAdmin && completeStatus.ID != 0">
                    <div class="col-md-8 form-group">
                        <label for="statusRemarks">Remarks(Any):</label>
                        <input type="text" id="statusRemarks" class="form-control" name="statusRemarks"
                            [(ngModel)]="remarks" placeholder="enter remarks(if any)">
                    </div>
                    <div class="col-md-3 form-group">
                        <button class="btn btn-success" (click)="updateTrackStatus()">Update Candidate Status</button>
                    </div>
                </div>
                <b class="text-danger">
                    <div id="noresultFound"></div>
                </b>
                <div class="card-style" *ngIf="completeStatus.ID != 0">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <p><b> Name:</b> {{completeStatus.Name}} </p>
                            <p><b> Passport:</b> {{completeStatus.PassPort}} </p>
                            <p><b> Aadhar No.:</b> {{completeStatus.Aadhar}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Task:</b> {{completeStatus.TaskDetails}} </p>
                            <p><b>Cell No:</b> {{completeStatus.Cell}} </p>
                            <p><b>Applicantion No:</b> {{completeStatus.ID}}</p>
                        </div>
                    </div>
                    <div class="table-responsive row">
                        <table class="table">
                            <tr>
                                <th>Date</th>

                                <th>Status</th>
                                <!-- <th>Next Status Date(Tentative)</th> -->
                                <th>Remarks</th>
                            </tr>
                            <tbody>
                                <tr *ngFor="let singleStatus of completeStatus.Status">
                                    <td>{{singleStatus.Date | date: 'dd-MMM-yyyy' }}</td>
                                    <td>{{singleStatus.NextStatus}}</td>
                                    <!-- <td>{{singleStatus.NextStatusDate | date: 'dd-MMM-yyyy' }}</td> -->
                                    <td>{{singleStatus.Remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>