<div class="container-fluid bg-pd50">
    <div class="container mt-5 pt-3">
        <div class="card card-pdmg ">
            <div class="card-body">
                <h4 class="text-success mb-3">Track-status!!!!</h4>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control" placeholder="PassportNo*" required #passportNo>
                    </div>
                    <div class="col-md-4 form-group"> <input type="text" placeholder="AadharNo*" class="form-control"
                            required #aadharNo> </div>
                    <div class="col-md-4 form-group">
                        <button class="btn btn-success" (click)="checkStatus(passportNo.value, aadharNo.value)">Check
                            Status</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <select id="presentStatus" class="form-control" name="presentStatus"
                            [(ngModel)]="presentStatusID">
                            <option value="0">--Present Status--</option>
                            <option *ngFor="let stat of statusMasterData" [value]="stat.ID">{{stat.Description}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <select id="nextStatus" class="form-control" name="nextStatus" [(ngModel)]="nextStatusID">
                            <option value="0">--Next Status--</option>
                            <option *ngFor="let stat of statusMasterData" [value]="stat.ID">{{stat.Description}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <input type="date" id="nextStatusDate" class="form-control" name="nextStatusDate"
                            [(ngModel)]="nextStatusDate" placeholder="next status date" title="next status date">
                    </div>
                    <div class="col-md-2 form-group">
                        <input type="text" id="statusRemarks" class="form-control" name="statusRemarks"
                            [(ngModel)]="remarks" placeholder="enter remarks(if any)">
                    </div>
                    <div class="col-md-1 form-group">
                        <button class="btn btn-success" (click)="updateTrackStatus()">Update</button>
                    </div>
                </div>
                <div *ngIf="completeStatus.Status.length<=0"><b class="text-danger">No Applicant Found</b></div>
                <div class="card-style">
                    <div class="row mb-4" *ngIf="completeStatus">
                        <div class="col-md-6">
                            <p><b> Name:</b> {{completeStatus.Name}} </p>
                            <p> <b> Passport:</b> {{completeStatus.Passport}} </p>
                            <b>Aadhar No.:</b> {{completeStatus.Aadhar}}
                        </div>
                        <div class="col-md-6">
                            <p> <b>Task:</b> {{completeStatus.Task}} </p>
                            <b>Cell No.:</b> {{completeStatus.Cell}}
                        </div>
                    </div>
                    <div class="table-responsive row">
                        <table class="table " *ngIf="completeStatus.Status">
                            <tr>
                                <th>Date</th>
                                <th>Present Status</th>
                                <th>Next Status</th>
                                <th>Next Status Date</th>
                                <th>Remarks</th>
                            </tr>
                            <tbody>
                                <tr *ngFor="let singleStatus of completeStatus.Status">
                                    <td>{{singleStatus.Date | date:'shortDate' }}</td>
                                    <td>{{singleStatus.PresentStatus}}</td>
                                    <td>{{singleStatus.NextStatus}}</td>
                                    <td>{{singleStatus.NextStatusDate}}</td>
                                    <td>{{singleStatus.Remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>