<section id="why-us" class="why-us">
    <div class=" img-fluid heading-title"
        style="background-image: url('assets/img/banner.jpg');background-position: center;">
        <div class="container">
            <div class="col">
                <h5 class="text-right aign-self-center py-5 mb-0 fw-600 ">
                    <a routerLink="/home">Synergy Solutions </a>
                    <span style="color: #ddd"> - Industries Served</span>
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container mb-4">
        <div class="row no-gutters">
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
                <div class="section-title">
                    <h2>About Industries Served</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title ml-4">Mission</h4>
                        <ul>
                            <li> Oil & Gas </li>
                            <li> Chemical </li>
                            <li> Environment Waste </li>
                            <li> Heavy Engineering </li>

                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h4 class="title ml-4">Branch</h4>
                        <ul>
                            <li> Exploration</li>
                            <li> Specialty chemicals</li>
                            <li> Water Treatment</li>
                            <li> Auto Engineering</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 video-box">
                <img src="assets/img/industries.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section><!-- End About Us Section -->

