    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us ">
            <div class=" img-fluid heading-title" style="background-image: url('assets/img/banner.jpg');background-position: center;">
              <div class="container">
                  <div class="col">
                      <h5 class="text-right aign-self-center py-5 mb-0 fw-600">
                          <a routerLink="/home" >Synergy Solutions </a>
                          <span style="color: #ddd"> -Business Ethics</span>
                      </h5>
                  </div>
              </div>
          </div>
        </section>
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container">
  
            <div class="row no-gutters">
      
  
              <div class="col-lg-8 d-flex flex-column justify-content-center about-content">
  
                <div class="section-title">
                  <h2>About Ethics</h2>
                  <h4 class="titleHead text-left">  Ethics, Confidentiality and Data Protection</h4>
                  <ul class="text-left">
                  <li (click)="scroll(Ethics)" class="text-primary pointer">Policy on ethics for employees</li>
                    <li  (click)="scroll(Confidentiality)" class="text-primary pointer">Confidentiality and Non Disclosure Policy</li>
                      <li  (click)="scroll(Protection)" class="text-primary pointer">Company Data Protection Policy</li>
                      </ul>
                </div>  
              </div>
              <div class="col-lg-3 video-box">
                <img src="assets/img/ethics.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-1">
              </div>
            </div>
            </div>
        </section><!-- End About Us Section -->
      <section id="about" class="about">
      <div class="container">
          <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box icon-shadow p-5" #Ethics>
          
                    <h4 class="titleHead text-left pb-4">  Code of Ethics Policy for Employees</h4>

                <h4 class="titleHead1 text-left">
                  Policy brief & purpose
                </h4>
                <p class="mb-4">Our professional code of ethics policy aims to give our employees
                   guidelines on our business ethics and stance on various controversial matters. We trust you
                    to use your better judgment, but we want to provide you with a concrete guide you can fall
                     back on if you’re unsure about how you should act (e.g. in cases of conflict of interest).
                      We will also use this policy to outline the consequences of violating our business code of 
                      ethics.          
                        </p>
                        <h4 class="titleHead1 text-left"> Scope</h4>
                        <p class="mb-4">This policy applies to everyone we employ or have business relations with. This includes individual people such as employees, vendors, and customers.</p>
                        <h4 class="titleHead1 text-left"> Policy elements</h4>
                        <p class="">We base our business code of ethics on common principles of ethics </p>
                       <ul class="ul-style">
                         <li><a href="">Respect for others. </a>Treat people as you want to be treated.</li>
                         <li><a href=""> Integrity and honesty. </a> Tell the truth and avoid any wrongdoing to the best of your ability.</li>
                          <li><a href=""> Justice. </a> Make sure you’re objective and fair and don’t disadvantage others.</li>
                            <li><a href="">Lawfulness. </a> Know and follow the law – always.</li>
                              <li><a href="">Competence and accountability.  </a>Work hard and be responsible for your work.</li>
                                <li><a href=""> Teamwork. </a> Collaborate and ask for help.</li>
                       </ul>   
                       <h4 class="titleHead1 text-left"> Respect for others</h4>
                       <p class="mb-4">It’s mandatory to respect everyone you interact with. Be kind, polite and understanding. You must respect others’ personal space, opinions and privacy. Any kind of violence is strictly prohibited and will result in immediate termination.
                       </p><p>If someone, be it customer, colleague or stakeholder, is offensive, demeaning or threatening toward you or someone you know, report them immediately to your manager. You can also report rudeness and dismissiveness if they become excessive or frequent.</p>
<h4 class="titleHead1 text-left"> Integrity and honesty</h4>
<p class="">First, always keep in mind our organization’s mission. We all work together to achieve specific outcomes. Your behaviour should contribute to our goals, whether financial or organizational.
</p><p>Be honest and transparent when you act in ways that impact other people (e.g. taking strategic decisions or deciding on layoffs). We don’t tolerate malicious, deceitful or petty conduct. Lies and cheating are huge red flags and, if you’re discovered, you may face progressive discipline or immediate termination depending on the damage you did.
</p><p>Stealing from the company or other people is illegal. If you’re caught, you will face repercussions depending on the severity of your actions. For example, if you steal office supplies, you may receive a reprimand or demotion (at a minimum), while if you steal money or data (e.g. engaging in fraud or embezzlement), you will get fired and face legal consequences. The decision is at HR’s discretion on a case-by-case basis.
  </p>
<h4 class="titleHead1 text-left"> Conflict of interest</h4>
<p class="">Conflict of interest may occur whenever your interest in a particular subject leads you to actions, activities or relationships that undermine our company. This includes situations like using your position’s authority for your own personal gain or exploiting company resources to support a personal money-making business. Even when you seemingly act to the company’s advantage, you may actually disadvantage it. For example, if an employee uses dubious methods to get competitor intel and raise their sales record, their action will have a positive impact on the company’s revenue, but it will put us at a legal risk and promote unhealthy business practices.
</p><p>  If it turns out you have created a conflict of interest for yourself, you will be terminated. If the conflict of interest was involuntary (e.g. buying stocks from a company without knowing they’re a competitor), we will take actions to rectify the situation. If you repeat the offence, you may be terminated
   </p>
<h4 class="titleHead1 text-left">Justice</h4>
<p class="">Don’t act in a way that exploits others, their hard work or their mistakes. Give everyone equal opportunity and speak up when someone else doesn’t.
</p><p> Be objective when making decisions that can impact other people, including when you’re deciding to hire, promote or fire someone. Be sure that you can justify any decision with written records or examples. Seek and use the most objective methods in any case; for example, when interviewing candidates, ask the same interview questions to all of them and avoid judging non-job-related criteria, like dress, appearance, etc.
</p><p>  Be just toward customers or vendors, too. If you think our company was in the wrong in a specific instance, don’t try to cover it up or accuse the other side. Discuss with your manager to find solutions that can benefit both sides.
</p><p> You’re also covered by our confidentiality and data protection policy. You must not expose, disclose or endanger information of customers, employees, stakeholders or our business. 
  </p>
<h4 class="titleHead1 text-left"> Competence and accountability</h4>
<p class="">We all need to put a healthy amount of effort in our work. Not just because we’re all responsible for the organization’s success, but also because slacking off affects our colleagues. Incomplete or slow working might hinder other people’s work or cause them to shoulder the burden themselves. This comes in direct conflict with our respect and integrity principles.
</p><p>  We also expect you to take up opportunities for learning and development, either on-the-job or via educational material or training. If you are unsure how you can achieve this, have an open discussion with your manager.
</p><p>  Also, take responsibility for your actions. We all make mistakes or need to make tough decisions and it’s important we own up to them. Failing to be accountable on a regular basis or in important situations (e.g. a crucial mistake in our financial records) will result in termination. If you take responsibility and come up with ways to fix your mistakes where possible, you will be in a far better position.
   </p>  
<h4 class="titleHead1 text-left"> Teamwork</h4>
<p class="">Working well with others is a virtue, rather than an obligation. You will certainly get to work autonomously and be focused on your own projects and responsibilities. But, you should also be ready to collaborate with and help others.
</p><p>  Be generous with your expertise and knowledge. Be open to learning and evolving. If days go by without you consulting or brainstorming with anyone, you are missing out on opportunities for excellence. Instead, work with others and don’t hesitate to ask for help when you need it.
   </p> 
<h4 class="titleHead1 text-left"> Lawfulness</h4>
<p class="">Any entity – commercial or social – is subject to some laws and regulations under which it is allowed by the Government to conduct its activities.  The cost of non-compliance is huge, and it is by design.  It is always cheaper and comfortable for the organization, in long as well as in short term, to comply with all laws and regulations.  The first requirement is to honor obligations, and honoring obligations of laws and regulations shall always have priority.
</p><p> Management at Phoenix discourages non-compliance of any kind.  All stake holders are encouraged to flag anything in their opinion is a non-compliance.
   </p>   
  </div>
  <div class="icon-box icon-shadow p-5" #Confidentiality> 
   <h4 class="titleHead text-left pb-4">  Employee confidentiality policy</h4>
   <p class="mb-4">This Employee Confidentiality Policy Template is ready to be tailored to your company’s needs and should be considered a starting point for setting up your employment policies.</p>
     <h4 class="titleHead1 text-left">  Policy brief & purpose</h4>
     <p class="mb-4">This policy explains how we expect our employees to treat confidential information. Employees are likely to receive and handle personal and private information about clients, partners and our company. It is important for all stake holders to be assured that all related information is well protected. 
    </p><p>This policy will legally bind all employees as well as constitute backbone of our business, and we hope this will help build confidence measures between the Company and our stake holders.
      </p>
      <h4 class="titleHead1 text-left">   Scope</h4>
      <p class="mb-4">This policy affects all employees, including partners, investors and contractors who may 
        have access to confidential information.</p>

        <h4 class="titleHead1 text-left">   Policy elements</h4>
        <p class=""> Confidential and proprietary information is secret, valuable, expensive and/or easily replicated. Common examples of confidential information are:</p>
          <ul class="ul-style">
            <li> Unpublished financial information</li>
              <li>  Data of Customers/Partners/Vendors</li>
                <li>  Patents, formulas or new technologies</li>
                  <li>  Customer lists (existing and prospective)</li>
                    <li>  Data entrusted to our company by external parties</li>
                      <li>   Pricing/marketing and other undisclosed strategies</li>
                        <li> Documents and processes explicitly marked as confidential</li>
                          <li> Unpublished goals, forecasts and initiatives marked as confidential</li>
                            </ul>
                            <p>  Employees may have various levels of authorized access to confidential information.</p>
                            <h4 class="titleHead1 text-left">    What employees should do:</h4>
                            <ul class="ul-style">
                              <li>Lock or secure confidential information at all times</li>
                                <li>Shred confidential documents when they’re no longer needed</li>
                                  <li>Make sure they only view confidential information on secure devices</li>
                                    <li>Only disclose information to other employees when it's necessary and authorized</li>
                                      <li>Keep confidential documents inside our company's premises unless it's absolutely necessary to move them</li>
                                    </ul>
                                    <h4 class="titleHead1 text-left">    What employees should NOT do:</h4>
                                    <ul class="ul-style">
                                      <li>Use confidential information for any personal benefit or profit</li>
                                        <li>Disclose confidential information to anyone outside of our company</li>
                                          <li>Replicate confidential documents and files and store them on insecure devices</li>
                                        </ul>
                                        <p> When employees stop working for our company, they're obliged to return any confidential files
                                           and delete them from their personal devices.</p>
                                           <h4 class="titleHead1 text-left">   Confidentiality Measures</h4>
                                            <p>We'll take measures to ensure that confidential information is well protected. We will:</p>
                                            <ul class="ul-style">
                                              <li>Store and lock paper documents</li>
                                              <li>Encrypt electronic information and safeguard databases</li>
                                                <li>Ask employees to sign non-compete and non-disclosure agreements (NDAs)</li>
                                                  <li>Ask for authorization by senior management to allow employees to access certain confidential information</li>
                                            </ul>
                                            <h4 class="titleHead1 text-left">  Exceptions</h4>
                                              <p> Confidential information may occasionally have to be disclosed for legitimate reasons. Examples are: </p>
                                              <ul class="ul-style"> <li> If a regulatory body requests it as part of an investigation or audit </li>
                                                  <li> If our company examines a venture or partnership that requires disclosing some information (within legal boundaries) </li>
                                                  </ul>
                                                    <p> In such cases, employees involved should document their
                                                       disclosure procedure and collect all needed authorizations. The Company is bound to avoid disclosing more
                                                        information than needed.</p>
                                            
                                                        <h4 class="titleHead1 text-left">  Disciplinary Consequences</h4>
                                                          <p>  Employees who don't respect our confidentiality policy will face disciplinary and, possibly, legal action. </p> 
                                                            <p>   We will investigate every breach of this policy. We'll terminate any employee who willfully breaches our confidentiality
                                                               guidelines for personal profit. We may also have to punish any unintentional breach of this policy depending on its
                                                                frequency and seriousness. We will terminate employees who repeatedly disregard this policy, even when they do so 
                                                                unintentionally. </p> 
                                                              <p>  This policy is binding even after separation of employment, for which necessary undertakings will be taken from 
                                                                all employees.</p>
                                                              </div>
                                                                <div class="icon-box icon-shadow p-5" #Protection>
                                                                <h4 class="titleHead text-left pb-4">   Company data protection policy
                                                                </h4>
                                                                <h4 class="titleHead1 text-left">   Policy brief & purpose
                                                                </h4>
                                                                <p> 
Our Company Data Protection Policy refers to our commitment to treat information of employees, customers, stakeholders and other interested parties with the utmost care and confidentiality.
</p><p>With this policy, we ensure that we gather, store and handle data fairly, transparently and with respect towards individual rights.
    </p>  
    <h4 class="titleHead1 text-left">   Scope    </h4>
    <p>     This policy refers to all parties (employees, candidates, customers, suppliers etc.) who provide any amount of information to us.</p>                       
    <h4 class="titleHead1 text-left"> Who is covered under the Data Protection Policy?</h4>
      <p>     Employees of our company and its subsidiaries must follow this policy. Contractors, consultants, partners and any other external entity are also covered. Generally, our policy refers to anyone we collaborate with or acts on our behalf and may need occasional access to data.
      </p>
      <h4 class="titleHead1 text-left">  Policy elements</h4>
      <p> As part of our operations, we need to obtain and process information. This information includes any offline or online data that makes a person identifiable such as names, addresses, usernames and passwords, digital footprints, photographs, social security numbers, financial data etc.
      </p> <p> Our company collects this information in a transparent way and only with the full cooperation and knowledge of interested parties. Once this information is available to us, the following rules apply.
      </p> <p>Our data will be: </p>
      <ul class="ul-style">
        <li> Accurate and kept up-to-date </li>
          <li>Collected fairly and for lawful purposes only </li>
            <li>Candidate data will be shared with customers with prior consent of the candidates concerned</li>
              <li>Processed by the company within its legal and moral boundaries</li>
                <li>Protected against any unauthorized or illegal access by internal or external parties</li>
      </ul>
      <p>  Our data will not be:</p>
      <ul class="ul-style">
        <li>Communicated informally</li>
        <li>Distributed to any party other than the ones agreed upon by the data's owner (exempting legitimate requests from law enforcement
 authorities)</li>
</ul>
<p> In addition to ways of handling the data the company has direct obligations towards people to whom the data belongs.
   Specifically we must:</p>
   <ul class="ul-style">
    <li>Let people know which of their data is collected</li>
      <li>Inform people about how we'll process their data</li>
        <li>Have provisions in cases of lost, corrupted or compromised data</li>
          <li>Allow people to request that we modify or correct data contained in our databases</li>
</ul>
<h4 class="titleHead1 text-left"> Actions</h4>
<p>To exercise data protection we're committed to:</p>
<ul class="ul-style">
  <li>Restrict and monitor access to sensitive data</li>
    <li>Develop transparent data collection procedures</li>
      <li>Train employees in online privacy and security measures</li>
        <li>Build secure networks to protect online data from cyberattacks</li>
          <li>Establish clear procedures for reporting privacy breaches or data misuse</li>
            <li>Include contract clauses or communicate statements on how we handle data</li>
              <li>Establish data protection practices (document shredding, secure locks, data encryption, frequent backups, access authorization etc.)</li>
</ul>


              </div>
        </div>
        </div>
      </section>
    <!-- End Why Us Section -->
