    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us ">
            <div class=" img-fluid heading-title" style="background-image: url('assets/img/banner.jpg');background-position: center;">
              <div class="container">
                  <div class="col">
                      <h5 class="text-right aign-self-center py-5 mb-0 fw-600">
                          <a href="index.html" >Universal Link </a>
                          <span style="color: #ddd"> -Business Ethics</span>
                      </h5>
                  </div>
              </div>
          </div>
        </section>
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container">
  
            <div class="row no-gutters">
              <div class="col-lg-6 video-box">
                <img src="assets/img/ethics.png" class="img-fluid" alt="">
              </div>
  
              <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
  
                <div class="section-title">
                  <h2>About Ethics</h2>
                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
                </div>
  
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-fingerprint"></i></div>
                  <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                  <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident</p>
                </div>
  
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-gift"></i></div>
                  <h4 class="title"><a href="">Nemo Enim</a></h4>
                  <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque   occaecati cupiditate non p</p>
                </div>
  
              </div>
            </div>
            </div>
        </section><!-- End About Us Section -->
      <section id="services" class="services">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6 " data-aos="fade-up" data-aos-delay="100">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Legal Services
                </h4>
                <p class="description">If you’re running a business, you will require legal documents. Find any business
                  legal form you need, and
                  let our software help you write it in a matter of minutes.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 " data-aos="fade-up">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Financial Service
                </h4>
                <p class="description">Shahid is a financial service company that focuses on stocks of environmentally
                  responsible companies. The
                  Washington-based L.L.C. is lead by Shahid.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 " data-aos="fade-up">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Shipping Services
                </h4>
                <p class="description">Due to the constantly shifting nature of domestic and international shipping costs,
                  we cannot offer flat-rate
                  logistics services pricing.  occaecati cupiditate non  </p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 " data-aos="fade-up">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Consultant Services
                </h4>
                <p class="description">In consideration for the Consulting Services, the Client shall pay the Consultant
                  at the rate of $ [Rate]
                  per hour.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Import & Export
                </h4>
                <p class="description">Universal Link Services are experts in developing strategic markets and exporting
                  goods to across the globe.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 " data-aos="fade-up">
            <a href="services.html">
              <div class="icon-box icon-shadow">
                <div class="icon">
                  <i class="fa fa-handshake-o"></i>
                </div>
                <h4 class="title">
                  Assist companies & Individuals
                </h4>
                <p class="description">These are sample thank you letters that an employer can write to an employee to
                  recognize the employee's
                  good work.
                </p>
              </div>
            </a>
          </div>
        </div>
        </div>
      </section>
    <!-- End Why Us Section -->
