<section id="why-us" class="why-us section-bg pt-5 mt-5">
  <div class="container">
    <h3 class="text-center fs-50">
      We have the most listings and constant updates.
      <br> So you’ll never miss out.
    </h3>
    <br>
    <div class="row">
      <!-- 
		        <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
          <div class="card">
            <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="bx bx-book-reader"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="">Home</a>
              </h5>
              <div class="card-text text-center">
                <a routerLink="/ethics" class="btn btn-outline-primary">Know More</a>
              </div>
            </div>
          </div>
        </div> -->
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-calendar-edit"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Business Ethics</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/ethics" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Mission and Vision</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/mission-vision" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-book-reader"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Recruitment Process Flow</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-calendar-edit"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Our USP</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Esteemed Clients</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/clients" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-book-reader"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Job Seeker Zone</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/jobseeker" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-calendar-edit"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">For Employers</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Current Openings</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-book-reader"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Our Services</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/service" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-calendar-edit"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Project Exports</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/projectexports" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Industries served</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/industries" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Feedback</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Download brochure</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/home" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-12 d-flex align-items-stretch">
        <div class="card">
          <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
          <div class="card-icon">
            <i class="bx bx-landscape"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="">Contact us</a>
            </h5>
            <div class="card-text text-center">
              <a routerLink="/contactus" class="btn btn-outline-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>