.card-style{
    border: 1px solid #ddd;
        background: #e7f1f1;
        padding: 25px 25px 10px;
        margin: 10px 0px 20px;
    }

.myTable-style{
    border: 1px solid burlywood;
    padding: 25px 25px 10px;
    margin: 5px 0px 5px;
}
    