.bold{
    font-weight:bold
}
.disabled {
    cursor: not-allowed;
    background: #dddddd8f !important;
    z-index: 1000 !important;
    height: 2000px;
   min-height: 100%;
    position: absolute;
    top: 50px;
    width: 100%;
  }
  .card-body {
    padding: 1rem 1.25rem 0px .25rem;
}
.bg-pd50 {
    padding: 50px 0px 25px;
}