<div class="container-fluid bg-pd50">
    <div class="container">
        <div class="col-md-12">
            <div class="card card-pdmg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 form-group  form-group ">
                                        <label for="username" class="col-form-label">Candidate Details</label>
                                        <input id="username" name="username" placeholder="Username"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group  form-group ">
                                        <label for="name" class=" col-form-label">First Name *</label>
                                        <input id="name" name="name" placeholder="First Name*" class="form-control here"
                                            type="text">
                                    </div>
                                    <div class="col-md-4 form-group  form-group ">
                                        <label for="lastname" class=" col-form-label">Second Name</label>
                                        <input id="lastname" name="lastname" placeholder="Second Name"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="text" class="col-form-label">Family Name</label>
                                        <input id="text" name="text" placeholder="Family Name" class="form-control here"
                                            required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">DOB*</label>
                                        <input id="username" name="username" placeholder="DOB*"
                                            class="form-control here" required="required" type="date">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="email" class=" col-form-label">Email*</label>
                                        <input id="email" name="email" placeholder="Email*" class="form-control here"
                                            required="required" type="text">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">Address</label>
                                        <input id="username" name="username" placeholder="Address"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">City*</label>
                                        <input id="username" name="username" placeholder="City*"
                                            class="form-control here" required="required" type="text">
                                    </div>

                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">PIN*</label>
                                        <input id="username" name="username" placeholder="PIN*"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">Permanent Address</label>
                                        <input id="username" name="username" placeholder="Permanent Address"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class=" col-form-label">City</label>
                                        <input id="username" name="username" placeholder="City"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">PIN</label>
                                        <input id="username" name="username" placeholder="PIN" class="form-control here"
                                            required="required" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class=" col-form-label">Cell No.*</label>
                                        <input id="username" name="username" placeholder="Cell No.*"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">Alternate Cell No.</label>
                                        <input id="username" name="username" placeholder="Alt Cell No."
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class=" col-form-label">Adhar No.</label>
                                        <input id="username" name="username" placeholder="Adhar No."
                                            class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group ">
                                        <label for="username" class="col-form-label">Passport No.*</label>
                                        <input id="username" name="username" placeholder="Passport No.*"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="website" class=" col-form-label">Profession*</label>
                                        <input id="website" name="Profession" placeholder="Profession*"
                                            class="form-control here" type="text">
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label for="publicinfo" class=" col-form-label">Industry</label>
                                        <input id="website" name="website" placeholder="Industry"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <hr width="100%">
                                <div class=" row">
                                    <label for="publicinfo"
                                        class="col-md-4 form-group  col-form-label">Qualification</label>
                                    <div class="col-md-8">
                                        <!-- <div class="row">
                                        <label for="publicinfo" class="col-md-4 form-group  col-form-label">University</label>
                                        <label for="publicinfo" class="col-md-4 form-group  col-form-label">Dip/Degree</label>
                                        <label for="publicinfo" class="col-md-4 form-group  col-form-label">Year passed</label>
                                    </div> -->
                                        <div class=" row">
                                            <div class="col-md-4 form-group  form-group">
                                                <input class="form-control" placeholder="University" type="text"
                                                    id="newAttributeCode" [(ngModel)]="newQualification.university"
                                                    name="newqualuniversity" />
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input class="form-control" placeholder="Dip/Degree" type="text"
                                                    id="newAttributeName" [(ngModel)]="newQualification.degree"
                                                    name="newqualdegree" />

                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input class="form-control" placeholder="Year passed" type="text"
                                                    id="newAttributePrice" [(ngModel)]="newQualification.year"
                                                    name="newqualyear" />

                                            </div>
                                            <div class="col-md-2 form-group">
                                                <button class="btn btn-primary"
                                                    (click)="addQualifications()">Add</button>
                                            </div>
                                        </div>

                                        <div class="row" *ngFor="let qual of qualArray; let q = index">
                                            <div class="col-md-4 form-group  form-group">
                                                <input id="website" name="website" placeholder="University"
                                                    class="form-control here" [(ngModel)]="qual.university" type="text"
                                                    name="university">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input id="website" name="website" placeholder="Dip/Degree"
                                                    class="form-control here" [(ngModel)]="qual.degree" type="text"
                                                    name="degree">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input id="website" name="website" placeholder="Year passed"
                                                    class="form-control here" [(ngModel)]="qual.year" type="text"
                                                    name="year">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <button class="btn btn-danger"
                                                    (click)="removeQualifications(q)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%">

                                <div class="row">
                                    <label for="publicinfo"
                                        class="col-md-4 form-group  col-form-label">Experience</label>
                                    <div class="col-md-8">
                                        <!-- <div class="row">
                                <label for="publicinfo" class="col-md-3 col-form-label">Company worked with</label>
                                <label for="publicinfo" class="col-md-3 col-form-label">Designation</label>
                                <label for="publicinfo" class="col-md-3 col-form-label">Period from</label>
                                <label for="publicinfo" class="col-md-3 col-form-label">Period Upto</label>
                            </div> -->
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <input id="website" placeholder="Company worked with"
                                                    class="form-control here" type="text" id="newExperienceCode"
                                                    [(ngModel)]="newExperience.worked" name="newExpworked">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input id="website" placeholder="Designation" id="newExperienceCode"
                                                    [(ngModel)]="newExperience.designation" name="newExpdesignation"
                                                    class="form-control here" type="text">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <input id="website" placeholder="Period from" id="newExperienceCode"
                                                    [(ngModel)]="newExperience.from" name="newExpfrom"
                                                    class="form-control here" type="text">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <input id="website" placeholder="Period Upto" id="newExperienceCode"
                                                    [(ngModel)]="newExperience.Upto" name="newExpUpto"
                                                    class="form-control here" type="text">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <button class="btn btn-primary" type="button"
                                                    (click)="addExperience()">Add</button>

                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let exp of expArray; let e = index">
                                            <div class="col-md-3 form-group">
                                                <input id="website" placeholder="University" class="form-control here"
                                                    [(ngModel)]="exp.university" type="text" name="university">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input id="website" placeholder="Designation" class="form-control here"
                                                    [(ngModel)]="exp.designation" type="text" name="designation">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <input id="website" placeholder="Period from" class="form-control here"
                                                    [(ngModel)]="exp.from" type="text" name="from">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <input id="website" placeholder="Period Upto" class="form-control here"
                                                    [(ngModel)]="exp.upto" type="text" name="upto">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <button class="btn btn-danger"
                                                    (click)="removeExperience(e)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%">

                                <div class=" row">
                                    <label for="publicinfo" class="col-md-4 form-group  col-form-label">Min Salary
                                        Expected</label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <label for="publicinfo" class="col-md-3 col-form-label">Currency</label>
                                            <div class="col-md-3">
                                                <input id="website" name="website" placeholder="Currency"
                                                    class="form-control here" type="text">
                                            </div>
                                            <label for="publicinfo" class="col-md-2 col-form-label">Amount</label>
                                            <div class="col-md-4 form-group ">
                                                <input id="website" name="website" placeholder="Amount"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <label for="publicinfo" class="col-md-3 col-form-label">Remarks</label>
                                            <div class="col-md-9">
                                                <input id="website" name="website" placeholder="Remarks"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%">

                                <div class="row">
                                    <label for="publicinfo" class="col-md-4 form-group  col-form-label">Attach</label>
                                    <div class="col-md-8">
                                        <div class="row form-group">
                                            <label for="publicinfo" class="col-md-3 col-form-label">CV</label>
                                            <div class="col-md-9">
                                                <input id="website" name="website" placeholder="CV"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="publicinfo" class="col-md-3 col-form-label">Photo</label>
                                            <div class="col-md-9">
                                                <input id="website" name="website" placeholder="Photo"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="publicinfo" class="col-md-3 col-form-label">Certificates</label>
                                            <div class="col-md-9">
                                                <input id="website" name="website" placeholder="Certificates"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="publicinfo" class="col-md-3 col-form-label">PP copy</label>
                                            <div class="col-md-9">
                                                <input id="website" name="website" placeholder="PP copy"
                                                    class="form-control here" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%">

                                <div class="row">
                                    <div class="offset-4 col-md-8">
                                        <button name="submit" type="submit" class="btn btn-primary"> Save
                                            Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>