.bold{
    font-weight:bold
}
.disabled {
    cursor: not-allowed;
    background: #dddddd8f !important;
    z-index: 1000 !important;
    height: 100%;
    position: absolute;
    top: 50px;
    width: 100%;
  }