.box-style{
    background: #96afe7;
    text-align: center;
    padding: 12px;
    text-align: center;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
}
.arrow-style{
    background-image: url(/assets/img/arrow.png);
    background-position: center;
    background-size: cover;
    padding: 90px 0px;
    margin: 15px;
}