<section id="why-us" class="why-us">
    <div class=" img-fluid heading-title"
        style="background-image: url('assets/img/banner.jpg');background-position: center;">
        <div class="container">
            <div class="col">
                <h5 class="text-right aign-self-center py-5 mb-0 fw-600 ">
                    <a routerLink="/home">Synergy Solutions </a>
                    <span style="color: #ddd"> - Recruitement Process Flow</span>
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container p-5">
        <h3>RECRUITMENT PROCESS FLOW, at a high level</h3>
        <div class="row no-gutters arrow-style" >
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="box-style d-flex align-items-center">
                    <p class="col">Accept Client<br>
                        enquiry after<br> Review</p>
                </div>
            </div>
            <div class="col-2">
                <div class="box-style d-flex align-items-center">
                    <p class="col">Identify,<br>
                        assess and<br> mobilize<br>candidates</p>
                </div>
            </div>
            <div class="col-2">
                <div class="box-style d-flex align-items-center">
                    <p class="col">Organize<br>
                        Interviews<br> and Selections</p>
                </div>
            </div>
            <div class="col-2">
                <div class="box-style d-flex align-items-center">
                    <p class="col">Counseling<br> and<br>
                        orientation of<br> selected<br> candidates</p>
                </div>
            </div>
            <div class="col-2">
                <div class="box-style d-flex align-items-center">
                    <p class="col">Organize<br>
                        departures</p>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
       
    </div>
</section><!-- End About Us Section -->