<br>
<div [class.disabled]="showLoader ">
</div>
<img src="assets/img/logo.png" alt="" class="img-fluid loader mt-3" *ngIf="showLoader">

<section>
    <div class="container">
        <h4 class="brown">Update Present Openings!</h4>
        <div *ngFor="let opening of currentOpenings;let q = index">
            <div class="icon-shadow">
                <div class="row my-4">
                    <div class="col-lg-4 col-md-12 " data-aos="fade-up">
                        <p>
                            <label for="{{q}}Profession">Profession:</label>
                            <input name="{{q}}Profession" placeholder="Profession" class="form-control here" type="text"
                                [(ngModel)]="opening.Profession">
                        </p>
                        <p>
                            <label for="{{q}}Employer">Employer:</label>
                            <input name="{{q}}Employer" placeholder="Employer" class="form-control here" type="text"
                                [(ngModel)]="opening.Employer">
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="fade-up">
                        <p>
                            <label for="{{q}}EmploymentCity">Employment City:</label>
                            <input name="{{q}}EmploymentCity" placeholder="EmploymentCity" class="form-control here"
                                type="text" [(ngModel)]="opening.EmploymentCity">
                        </p>
                        <p>
                            <label for="{{q}}Renumeration">Renumeration:</label>
                            <input name="{{q}}Renumeration" placeholder="Renumeration" class="form-control here"
                                type="number" [(ngModel)]="opening.Renumeration">
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="fade-up">
                        <p>
                            <label for="{{q}}JobDescription">Job Description:</label>
                            <input name="{{q}}JobDescription" placeholder="JobDescription" class="form-control here"
                                type="text" [(ngModel)]="opening.JobDescription">
                        </p>
                        <p>
                            <label class="col-form-label">
                                Is Oppurtunity Open
                                <input type="checkbox" [(ngModel)]="opening.IsOppurtunityOpen">
                            </label>
                        </p>
                    </div>
                </div>
                <div class="" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="row">
                                <label for="{{q}}lastUpdatedOn">Updated On</label>
                                <input class="form-control col-lg-3 col-md-3" placeholder="Updated on"
                                    onfocus="(this.type='date')" [(ngModel)]="opening.LastUpdatedOn"
                                    name="{{q}}lastUpdatedOn" />
                                <button class="btn btn-primary btn-style col-lg-2 col-md-2"
                                    (click)="updateOpening(opening, q)">Update</button>
                                <b class="text-danger">
                                    <div [id]="q"></div>
                                </b>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button class="btn btn-danger pull-right" (click)="removeOpening(opening.ID, q)">Remove
                                Opening Permanently</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h4 class="brown">Add New Opening!</h4>
        <div class="row icon-shadow my-2">
            <div class="col-lg-4 col-md-12 " data-aos="fade-up">
                <p>
                    <label for="NewProfession">Profession:</label>
                    <input name="NewProfession" placeholder="Profession" class="form-control here" type="text"
                        [(ngModel)]="singleNewOpening.Profession">
                </p>
                <p>
                    <label for="NewEmployer">Employer:</label>
                    <input name="NewEmployer" placeholder="Employer" class="form-control here" type="text"
                        [(ngModel)]="singleNewOpening.Employer">
                </p>

            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-up">
                <p>
                    <label for="NewEmploymentCity">Employment City:</label>
                    <input name="NewEmploymentCity" placeholder="EmploymentCity" class="form-control here" type="text"
                        [(ngModel)]="singleNewOpening.EmploymentCity">
                </p>
                <p>
                    <label for="NewRenumeration">Renumeration Amount:</label>
                    <input name="NewRenumeration" placeholder="Renumeration" class="form-control here" type="number"
                        [(ngModel)]="singleNewOpening.Renumeration">
                </p>
            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-up">
                <p>
                    <label for="NewJobDescription">Job Description:</label>
                    <input name="NewJobDescription" placeholder="JobDescription" class="form-control here" type="text"
                        [(ngModel)]="singleNewOpening.JobDescription">
                </p>
                <p>
                    <label class="col-form-label">
                        Is Oppurtunity Open:</label>
                    <select class="form-control here" name="NewIsOppurtunityOpen"
                        [(ngModel)]="singleNewOpening.IsOppurtunityOpen">
                        <option [value]="true">Yes</option>
                        <option [value]="false">No</option>
                    </select>

                </p>
            </div>
            <button class="btn-style m-2 " (click)="addOpening($event)">Add Opening</button>
        </div>
    </div>
    <div class="container">
        <h4 class="brown">Newly Added Openings!</h4>
        <div *ngIf="newOpenings.length==0">No New openings added</div>
        <div *ngFor="let opening of newOpenings;let q = index">
            <div class="icon-shadow">
                <div class="row my-4">
                    <div class="col-lg-4 col-md-12 " data-aos="fade-up">
                        <p>
                            <label for="{{q}}Profession">Profession: </label>
                            <input name="{{q}}Profession" type="text" disabled [(ngModel)]="opening.Profession">
                        </p>
                        <p>
                            <label for="{{q}}Employer">Employer: </label>
                            <input name="{{q}}Employer" type="text" disabled [(ngModel)]="opening.Employer">
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="fade-up">
                        <p>
                            <label for="{{q}}EmploymentCity">Employment City: </label>
                            <input name="{{q}}EmploymentCity" type="text" disabled [(ngModel)]="opening.EmploymentCity">
                        </p>
                        <p>
                            <label for="{{q}}Renumeration">Renumeration: </label>
                            <input name="{{q}}Renumeration" type="text" disabled [(ngModel)]="opening.Renumeration">
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="fade-up">
                        <p>
                            <label for="{{q}}JobDescription">Employment City: </label>
                            <input name="{{q}}JobDescription" type="text" disabled [(ngModel)]="opening.JobDescription">
                        </p>
                        <p>
                            <label for="{{q}}IsOppurtunityOpen">IsOppurtunityOpen: </label>
                            <input type="text" *ngIf="opening.IsOppurtunityOpen" value="Yes" disabled>
                            <input type="text" *ngIf="!opening.IsOppurtunityOpen" value="No" disabled>
                        </p>
                    </div>
                    <button class="btn btn-danger my-2 pull-right" (click)="this.newOpenings.splice(q, 1);">Remove
                        Opening</button>
                </div>
            </div>
            <hr>
        </div>
        <button *ngIf="newOpenings.length>0" class="btn-style my-2 " (click)="createOpening($event)">Create All
            Openings</button>
    </div>
</section>